<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/register.css" type="text/css">
  <title>TinyApp</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar navbar-light" style="color: #e3f2fd;">TinyApp</a>
    </nav>
  </header>
  <div class="card text-center" style="height: 91vh;">
    <h1 class="register-page">
      Create An Account
    </h1>
    <div class="card-body">
      <div class="form-group mb-2">
        <ul>
          <form action="/register" method="POST">
            <input type="text" name="email" placeholder="Email" />
        </ul>
        <ul>
          <input type="password" name="password" placeholder="Password" />
        </ul>
        <ul>
          <input type="submit" value="Register" />
        </ul>
        </form>
      </div>
      </form>
      </td>
      <p>Already Have an account? <a href="/login">Sign In</a></p>
    </div>
  </div>

</body>

</html>