<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/register.css" type="text/css">
  <title>TinyApp</title>
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar navbar-light" style="color: #e3f2fd;">TinyApp</a>
      </form>
      </td>
      </div>
      </div>
    </nav>
    <h1 class="register-page">
      Create An Account
    </h1>
    <div class="card text-center">
      <p>TinyApp is an App that allows users to shorten long URLS</p>
      <div class="card-body">
        <div class="form-group mb-2">
          <ul>
            <form action="/register" method="POST">
              <input type="text" name="email" placeholder="Email" />
          </ul>
          <ul>
            <input type="password" name="password" placeholder="Password" />
          </ul>
          <ul>
            <input type="submit" value="Register" />
          </ul>
          </form>
        </div>
      </div>
      </form>
      </td>
      <p>Already Have an account?<a href="/login">Sign In</a></p>
  </header>
</body>

</html>